%% -*- mode: erlang; tab-width: 4; indent-tabs-mode: 1; st-rulers: [70] -*-
%% vim: ts=4 sw=4 ft=erlang noet
{deps, [
	% {gpb, {git, "git://github.com/tomas-abrahamsson/gpb.git", {branch, "fix-descriptor"}}},
	{gpb, "4.7.2"},
	{grpcbox, "0.11.0"}
]}.

{grpc, [
	{protos, [
		% "proto/google/protobuf",
		% "proto/grpc/health/v1",
		% "proto/grpc/reflection/v1alpha",
		"../proto"
	]},
	{gpb_opts, [
		{descriptor, true},
		{module_name_prefix, "ibento_"},
		{module_name_suffix, "_pb"}
	]},
	{service_modules, [
		% {'mspf.wire.v1.Graphql', "mspf_wire_graphql"}
		% {'grpc.health.v1.Health', "mspf_wire_health"},
		% {'grpc.reflection.v1alpha.ServerReflection', "mspf_wire_reflection"}
	]}
]}.

{plugins, [
	grpcbox_plugin
	% {gpb, {git, "git://github.com/tomas-abrahamsson/gpb.git", {branch, "fix-descriptor"}}},
	% {grpcbox_plugin, {git, "git://github.com/tsloughter/grpcbox_plugin", {branch, "master"}}}
]}.
